In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [5]:
data=pd.read_excel('./fill_na.xlsx')
data

        date  temperature  windSpeed  status
0 2020-05-06      35.6582  10.788378   sunny
1 2020-05-07          NaN        NaN     NaN
2 2020-05-08      30.9343        NaN   rainy
3 2020-05-09          NaN   6.889682  cloudy
4 2020-05-10      13.9082  19.012990   rainy
5 2020-05-11      23.9382        NaN   sunny

### Filling common value to all missing values

In [6]:
data.fillna(0)

        date  temperature  windSpeed  status
0 2020-05-06      35.6582  10.788378   sunny
1 2020-05-07       0.0000   0.000000       0
2 2020-05-08      30.9343   0.000000   rainy
3 2020-05-09       0.0000   6.889682  cloudy
4 2020-05-10      13.9082  19.012990   rainy
5 2020-05-11      23.9382   0.000000   sunny

### Adding missing values to individual columns

In [7]:
data.fillna({'temperature':0,'windSpeed':19,'status':'cloudy'})

        date  temperature  windSpeed  status
0 2020-05-06      35.6582  10.788378   sunny
1 2020-05-07       0.0000  19.000000  cloudy
2 2020-05-08      30.9343  19.000000   rainy
3 2020-05-09       0.0000   6.889682  cloudy
4 2020-05-10      13.9082  19.012990   rainy
5 2020-05-11      23.9382  19.000000   sunny

### Alternate way:Filling individual columns

In [8]:
data.status.fillna('windy')

0     sunny
1     windy
2     rainy
3    cloudy
4     rainy
5     sunny
Name: status, dtype: object

### Forward fill(Row)

#### Forward fill is a method to forward the data from the row above the missing value.

In [9]:
data.fillna(method='ffill')

        date  temperature  windSpeed  status
0 2020-05-06      35.6582  10.788378   sunny
1 2020-05-07      35.6582  10.788378   sunny
2 2020-05-08      30.9343  10.788378   rainy
3 2020-05-09      30.9343   6.889682  cloudy
4 2020-05-10      13.9082  19.012990   rainy
5 2020-05-11      23.9382  19.012990   sunny

### Backward Fill(Row)

#### Backward fill is a method to forward the data from the row below the missing value.

In [10]:
data.fillna(method='bfill')

        date  temperature  windSpeed  status
0 2020-05-06      35.6582  10.788378   sunny
1 2020-05-07      30.9343   6.889682   rainy
2 2020-05-08      30.9343   6.889682   rainy
3 2020-05-09      13.9082   6.889682  cloudy
4 2020-05-10      13.9082  19.012990   rainy
5 2020-05-11      23.9382        NaN   sunny

### Forward fill(Column)

In [12]:
data.fillna(method='ffill',axis='columns')

        date          temperature            windSpeed               status
0 2020-05-06              35.6582            10.788378                sunny
1 2020-05-07  2020-05-07 00:00:00  2020-05-07 00:00:00  2020-05-07 00:00:00
2 2020-05-08              30.9343              30.9343                rainy
3 2020-05-09  2020-05-09 00:00:00             6.889682               cloudy
4 2020-05-10              13.9082             19.01299                rainy
5 2020-05-11              23.9382              23.9382                sunny

### Backward fill(Columns)

In [13]:
data.fillna(method='bfill',axis='columns')

        date temperature  windSpeed  status
0 2020-05-06     35.6582  10.788378   sunny
1 2020-05-07         NaT        NaT     NaT
2 2020-05-08     30.9343      rainy   rainy
3 2020-05-09    6.889682   6.889682  cloudy
4 2020-05-10     13.9082   19.01299   rainy
5 2020-05-11     23.9382      sunny   sunny

### Limiting the Backward/Forward fill

#### We can limit the number of rows or columns getting filled.

In [14]:
data.fillna(method='ffill',limit=1)

        date  temperature  windSpeed  status
0 2020-05-06      35.6582  10.788378   sunny
1 2020-05-07      35.6582  10.788378   sunny
2 2020-05-08      30.9343        NaN   rainy
3 2020-05-09      30.9343   6.889682  cloudy
4 2020-05-10      13.9082  19.012990   rainy
5 2020-05-11      23.9382  19.012990   sunny

### Filling with pandas object

#### There are many Pandas objects like df.sum(), df.max(), etc. we can fill the missing values with these too.

In [15]:
data.fillna(data.mean())

        date  temperature  windSpeed  status
0 2020-05-06    35.658200  10.788378   sunny
1 2020-05-07    26.109725  12.230350     NaN
2 2020-05-08    30.934300  12.230350   rainy
3 2020-05-09    26.109725   6.889682  cloudy
4 2020-05-10    13.908200  19.012990   rainy
5 2020-05-11    23.938200  12.230350   sunny

### Filling specific range of columns

In [16]:
data.fillna(data.mean()['temperature':'windSpeed'])

        date  temperature  windSpeed  status
0 2020-05-06    35.658200  10.788378   sunny
1 2020-05-07    26.109725  12.230350     NaN
2 2020-05-08    30.934300  12.230350   rainy
3 2020-05-09    26.109725   6.889682  cloudy
4 2020-05-10    13.908200  19.012990   rainy
5 2020-05-11    23.938200  12.230350   sunny

### Interpolate missing values

#### Interpolation is a process of determining the unknown values that lie in between the known data points.

#### Linear interpolation

In [17]:
# Linear interpolation involves estimating a new value by connecting two adjacent known values with a straight line.
# By default, interpolate() does linear interpolation.

In [19]:
data.temperature.interpolate()

0    35.65820
1    33.29625
2    30.93430
3    22.42125
4    13.90820
5    23.93820
Name: temperature, dtype: float64

#### Time interpolate

#### Time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

In [21]:
# data.interpolate(method='time')

#### Other methods

In [24]:
data.temperature.interpolate(method='barycentric')

0    35.65820
1    39.46530
2    30.93430
3    19.32775
4    13.90820
5    23.93820
Name: temperature, dtype: float64

In [25]:
data.temperature.interpolate(method='pchip')

0    35.658200
1    34.220728
2    30.934300
3    21.496772
4    13.908200
5    23.938200
Name: temperature, dtype: float64

In [26]:
data.temperature.interpolate(method='akima')

0    35.658200
1    34.448184
2    30.934300
3    22.421250
4    13.908200
5    23.938200
Name: temperature, dtype: float64

In [27]:
data.temperature.interpolate(method='spline',order=2)

0    35.658200
1    35.076089
2    30.934300
3    20.526966
4    13.908200
5    23.938200
Name: temperature, dtype: float64

In [28]:
data.temperature.interpolate(method='polynomial',order=2)

0    35.658200
1    36.196165
2    30.934300
3    19.872606
4    13.908200
5    23.938200
Name: temperature, dtype: float64

In [30]:
## In each operation ,inplace is not set to True so that the  dataset remains the same